@using eTicaret.Models;
@model IEnumerable<ProductModel>
<div class="row">
    @foreach (var urun in Model)
    {
        <div class="col-md-3 mb-2">
            <div class="card">
                <img src="~/Upload/@urun.Image" class="card-img-top" alt="@urun.Name">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/Home/Details/@urun.Id"> @urun.Name</a>
                    </h5>
                    <p class="card-text pt-2 description">@urun.Description</p>
                    <div class="card-footer">
                        <small class="text-body-secondary "> @urun.Price.ToString("c")</small>
                        <a href="/Home/Details/@urun.Id" class="btn btn-default btn-sm float-end">Ürünü İncele <i class="bi bi-info-square-fill"></i></a>
                    </div>
                    jhbjkhkjh
                </div>
            </div>

        </div>


    }
</div>


<style>
    .card:hover {
        transform: translateY(-5px);
        transition: all 0.3s ease-in-out;
    }

    .card .card-title a:hover {
        color: #0d6efd;
        text-decoration: underline;
    }

    .card-img-top .overlay:hover {
        opacity: 0.3;
        transition: opacity 0.3s ease;
    }
</style>
