@using eTicaret.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "List";
}
<br />
<div class="container pb-5">
    <div class="row">
        <div class="col-md-3">
            @Html.Action("GetCategories","Home")
        </div>

        <div class="col-md-9">

            @if (Model.Count() == 0)
            {
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <i class="bi bi-bag-x-fill me-2"></i>
                    <div>Bu kategoride bir ürün bulunamadı.</div>
                </div>
            }
            else
            {
                <div class="alert alert-success d-flex align-items-center" role="alert">
                    <i class="bi bi-bag-check-fill me-2"></i>
                    <div>Bu kategoride <strong> @Model.Count() </strong> adet ürün bulundu.</div>
                </div>
            }



            @Html.Partial("_ProductList", Model)

        </div>
    </div>
</div>

